

#homepage-header {
    text-align: center;
    margin-top: 15%;
    padding-bottom: 1%;
    /* color: white; */
    font-family: 'Julius Sans One', sans-serif;
}

#shop-button {
    text-align: center;
}